<!-- Buttondown Newsletter Subscribe Form -->
<div class="newsletter-form">
  <h3>{{ if eq .Lang "es" }}Suscríbete a este blog{{ else }}Subscribe to this blog{{ end }}</h3>
  <p>{{ if eq .Lang "es" }}Recibe nuevos posts en tu correo. Sin spam.{{ else }}Get new posts delivered to your inbox. No spam.{{ end }}</p>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/{{ .Site.Params.buttondownUsername }}"
    method="post"
    class="embeddable-buttondown-form"
    referrerpolicy="unsafe-url"
  >
    <div class="newsletter-input-group">
      <input
        type="email"
        name="email"
        placeholder="{{ if eq .Lang "es" }}tu@email.com{{ else }}your@email.com{{ end }}"
        required
      />
      <input type="hidden" value="1" name="embed" />
      <input type="hidden" name="tag" value="{{ .Lang }}" />
      <button type="submit">{{ if eq .Lang "es" }}Suscribirme{{ else }}Subscribe{{ end }}</button>
    </div>
  </form>
</div>
